<div style="display: flex">
  <app-sidebar></app-sidebar>
  <div style="background-color: rgb(242, 242, 242); width: 100%">
    <div class="row-inp">
      <div class="card">
        <p class="head">Merchants in Free Plan</p>
        <hr />
        <div class="data">
          <p><span> Active </span><span class="num">200</span></p>
          <p><span>Cancelled </span><span class="num">10</span></p>
          <hr style="float: right; width: 25%" />
          <p style="margin-top: 15px">
            <span>Total</span><span class="num">210</span>
          </p>
        </div>
      </div>
      <div class="card">
        <p class="head">Merchants in Basic Plan</p>
        <hr />
        <div class="data">
          <p><span> Active </span><span class="num">200</span></p>
          <p><span>Cancelled </span><span class="num">10</span></p>
          <hr style="float: right; width: 25%" />
          <p style="margin-top: 15px">
            <span>Total</span><span class="num">210</span>
          </p>
          <p><span>Revenue </span><span class="num">$210</span></p>
        </div>
      </div>
      <div class="card">
        <p class="head">Merchants in Pro Plan</p>
        <hr />
        <div class="data">
          <p><span> Active </span><span class="num">200</span></p>
          <p><span>Cancelled </span><span class="num">10</span></p>
          <hr style="float: right; width: 25%" />
          <p style="margin-top: 15px">
            <span>Total</span><span class="num">210</span>
          </p>
          <p><span>Revenue </span><span class="num">$210</span></p>
        </div>
      </div>
      <div class="card">
        <p class="head">Merchants in Enterprise Plan</p>
        <hr />
        <div class="data">
          <p><span> Active </span><span class="num">200</span></p>
          <p><span>Cancelled </span><span class="num">10</span></p>
          <hr style="float: right; width: 25%" />
          <p style="margin-top: 15px">
            <span>Total</span><span class="num">210</span>
          </p>
          <p><span>Revenue </span><span class="num">$210</span></p>
        </div>
      </div>
    </div>
    <div class="row-inp">
      <div class="card">
        <p class="head" style="font-size: 18px">
          Chargely’s Top Paying Merchants
        </p>
        <hr />
        <div class="data" style="margin: 20px 55px">
          <table>
            <tr>
              <th>Name</th>
              <th>Amount</th>
            </tr>
            <tr>
              <td>James</td>
              <td>$2300</td>
            </tr>
            <tr>
              <td>James</td>
              <td>$2300</td>
            </tr>
            <tr>
              <td>James</td>
              <td>$2300</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <p class="head" style="font-size: 18px">
          Chargely’s Top Paying Merchants
        </p>
        <hr />
        <div class="data" style="margin: 20px 55px">
          <table>
            <tr>
              <th>Name</th>
              <th>Amount</th>
            </tr>
            <tr>
              <td>James</td>
              <td>$2300</td>
            </tr>
            <tr>
              <td>James</td>
              <td>$2300</td>
            </tr>
            <tr>
              <td>James</td>
              <td>$2300</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row-inp">
      <div class="card" style="text-align: center">
        <p class="head">WooCommerce’s Revenue</p>
        <hr />
        <p class="rev">$1200</p>
      </div>
      <div class="card" style="text-align: center">
        <p class="head">WordPress’s Revenue</p>
        <hr />
        <p class="rev">$1200</p>
      </div>
      <div class="card" style="text-align: center">
        <p class="head">Shopify’s Revenue</p>
        <hr />
        <p class="rev">$1200</p>
      </div>
      <div class="card" style="text-align: center">
        <p class="head">Magento’s Revenue</p>
        <hr />
        <p class="rev">$1200</p>
      </div>
    </div>
  </div>
</div>
